@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: #002b5c;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

#btn_sair {
    background-color: #002b5c;
    color: white;
    position: fixed; 
    right:40px; 
    }

#btn_sair:hover {
    background-color: #051f3b;
}

input[type="text"] {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 100%; /* Alterado para ocupar toda a largura */
    max-width: 400px; /* Adicionado limite de largura */
}

button {
    background-color: #ffde00;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 20px; /* Adicionado padding horizontal */
    margin: 0 10px; /* Adicionado espaçamento horizontal entre os botões */
    color: #002b5c;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adicionada transição suave */
}

button:hover {
    background-color: #827c00;
}

#pesquisa{
    display: block;
    margin: 30px auto; /* Centraliza em baixo dos divTime */
    width: 400px; /* Defina a largura desejada */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px){
    #myContainer {
        grid-template-columns: auto;
    }
    #btns{
        display: none;
    }
    #select{
        display: flex;
    }
}

@media screen and (min-width: 768px){
    #myContainer {
        grid-template-columns: auto auto;
    }
    #btns{
        display: flex;
    }
    #select{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    #myContainer {
        grid-template-columns: auto auto auto auto;
    }
}


    
@media screen and (max-width: 767px){
    #myContainer {
        grid-template-columns: auto;
    }
    #btns{
        display: none;
    }
    #select{
        display: flex;
    }
}

@media screen and (min-width: 768px){
    #myContainer {
        grid-template-columns: auto auto;
    }
    #btns{
        display: flex;
    }
    #select{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    #myContainer {
        grid-template-columns: auto auto auto auto;
    }
}

